.container { 
    margin-bottom: 3%;
}

.bg-dark {
    background-color: #9b5534!important;
}

.navbar-toggler {
    border: none;
    outline: none;
}

@media only screen and (max-width: 700px) {
    h1 {
        font-size: large;
    }
    #greeting {
        font-size: 230%;
    }

}

/*.jumbotron*/ .lead {
    line-height: 1.8;
}

.lead { font-size: medium; }
h5 { 
    font-weight: 300; 
    color: #9b5534;
}
h4 {font-weight: 300; }
.display-4 {font-weight: 200;}

.section {
    font-size: xx-large;
    font-weight: 300;
    padding-top: 4.8rem;
    padding-bottom: 1rem;
}

.art-grid {
    max-height: 19rem;
    max-width: 25rem;
    padding: 0.3rem;
    position: relative;
    display: inline-block;
}

.art-image {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.art-grid:hover::after{
    position: absolute;
    z-index: 1;
    background-color: #f7f0ed;
    opacity: 0.8;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    content: '';
    pointer-events: none;
}

.art-grid:after {
    content:" ";
    position: relative;
    opacity: 0;
    transition: all 0.5s;
}

.art-grid .art-info {
    z-index: 2;
    position:absolute;
    color:rgba(0,0,0,.8);
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.5s;
    visibility:hidden;
}

.art-grid:hover .art-info {
    opacity:1;
    visibility: visible;
}

#art-dog{
    object-position: 1px 20%;
}

.modal-dialog-centered {
    margin-top: -1%;
}
#banner {
    /*font-family: 'El Messiri', sans-serif;*/
    font-weight: 200;
}

.social-icon {
    opacity: 0.6;
    padding-top: 0.3rem;
}

html,
body {
  height: 100%;
  width: 100%;
}

@media (min-width: 1200px) {
    .header-section {
        height: 80%;
        margin-bottom: 0;
    }
}

html {
    scroll-behavior: smooth;
}

.fullscreen {
    height: 90%;
    padding-top: 1.5%;
}

.img-thumbnail {
    border: none;
}

.carousel-inner {
    margin: 0 auto;
}

@media (min-width: 1000px) {
    .carousel-inner {
        width: 68%;
    }
    .carousel-control-next,
    .carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}
.carousel-item {
    padding-left: 4rem;
    padding-right: 4rem;
}
}

.skill {
    filter: saturate(5) grayscale(100%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.btn-submit {
    background-color: #f7f0ed;
    color: rgba(0,0,0,.6);
}
.btn-submit:hover {
    background-color: #9b5534;
    color: #f8f9fa;
}

.form-control:focus{
    border-color: #9b5534;
    -webkit-box-shadow: none;
    box-shadow: none;
}