.container { 
    margin-bottom: 3%;
}

.lead { font-size: medium; }

.section {
    font-size: xx-large;
    font-weight: normal;
    padding-top: 4.8rem;
    padding-bottom: 1rem;
}

#banner {font-family: 'El Messiri', sans-serif;}

html,
body {
  height: 100%;
  width: 100%;
}

.fullscreen {
    height: 100%;
    padding-top: 1.5%;
}